[Unit]
Description=Samsung Tab A7 GNSS LPPE gps.conf fix
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/sh /home/phablet/bin/taba7-gps-lppe-fix.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
